[begin] ()
	[exec] (Home)		{"C:\Users\User\Desktop\AHK\Xoblite\Explorer.ahk"}
	[submenu] (Apps)
		[exec] (Firefox)	{"C:\Program Files\Mozilla Firefox\firefox.exe"}
		[exec] (Potplayer)	{"C:\Program Files\DAUM\PotPlayer\PotPlayerMini64.exe"}
		[exec] (OneNote)	{"C:\Users\User\Desktop\OneNote.lnk"}
  		[separator]
		[submenu] (Coding)
	    		[exec] (VSCode) 	{"$UserAppData$\Local\Programs\Microsoft VS Code\Code.exe"}
  			[exec] (Notepad)	{notepad.exe}
			[exec] (VirtualBox)	{"C:\Program Files\Oracle\VirtualBox\VirtualBox.exe"}
			[exec] (Docker)		{"C:\Program Files\Docker\Docker\Docker Desktop.exe"}
		[end]
		[separator]
		[path] (Downloads)	{"$UserProfile$\Downloads"}
		[submenu] (Theming)
			[exec]	(StyleBuilder)		{"C:\Users\User\Downloads\WSB1563B\Windows Style Builder.exe"}
			[exec]	(ResourceHacker)	{"C:\Program Files (x86)\Resource Hacker\ResourceHacker.exe"}
			[exec]	(Theme Folder)		{"C:\Windows\Resources\Themes"}
			[path]	(Wallpapers)		{"C:\Users\User\Customization\Wallpapers"}
		[end]
	[end]
	[submenu] (System)
		[exec] (System)			{ms-settings:display}
		[exec] (Personalization)	{ms-settings:personalization}
		[exec] (Ease of access)		{ms-settings:easeofaccess-display}
		[exec] (Update and Security)	{ms-settings:windowsupdate}
		[exec] (Rainmeter)	{"C:\Program Files\Rainmeter\Rainmeter.exe" !Manage}
		[separator]
		[configuration] (Configure)
		[submenu] (Shutdown)
			[logoff -q] (Logoff)
			[reboot -q] (Reboot)
			[shutdown -q] (Shutdown)
		[end]
	[end]
	[submenu] (Tasks)
		[exec] (Cmder)
		[exec] (Google Calendar - October)
		[exec] (New folder)
		[exec] (Alt-space launcher)
	[end]
	[exec]
  	[exec] (Terminal)	{"C:\Users\User\Downloads\cmder\Cmder.exe"}
[end] ()
